{$INSTANCE_DOMAIN:localhost} {
    handle /api/* {
        reverse_proxy api:4000
    }
    handle /socket.io/* {
        reverse_proxy api:4000
    }
    handle /health {
        reverse_proxy api:4000
    }
    handle /.well-known/gratonite {
        reverse_proxy api:4000
    }
    handle /uploads/* {
        reverse_proxy api:4000
    }
    redir / /app/ permanent
    handle {
        reverse_proxy web:80
    }

    tls {$TLS_MODE:internal}

    header {
        X-Content-Type-Options nosniff
        X-Frame-Options DENY
        X-XSS-Protection "1; mode=block"
        Referrer-Policy strict-origin-when-cross-origin
        Permissions-Policy "camera=(self), microphone=(self), geolocation=()"
        -Server
    }

    encode gzip
}
